syntax: glob
**.7z
**.zip
**.db
**.pdb
**.suo
**.user
**.vshost.*
**.userprefs
**/bin/**
**/obj/**
/Dev/**
/Etc/**
/Build/Binaries/**
/Build/Installer/**
/Build/Release/**
/Build/Run-Mac/**
/Build/Run/*.dll
/Build/Run/*.exe
/Build/Run/*.json
/Build/Run/*.manifest
/Build/Run/*.xml
/Build/Run/Yamster.exe.config
/Build/Run/Yamster.vshost.exe.config
/Build/Run/YamsterCmd.exe.config
sd.ini
